html, body {
    margin: 0;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    width: 100vw;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    font-family: Ubuntu, "times new roman", times, roman, serif;

}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
  }

footer {
    background-color: #16242f;
}

.one_line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.items {
    flex-grow: 1;
}

.center {
    text-align: center;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 1vw 0;
    align-items: flex-end;
}

.big_text {
    color: #3b3b3b;
    font-size: 3vw;
    text-align: center;
}

.medium_text {
    font-size: 2.5vw;
    text-align: center;
}

.text {
    font-size: 1vw;
    margin: 0;
    line-height: 2vw;
}

.sub_text {
    font-size: 2vw;
    text-align: center;
    margin: 1vw 0 1vw 0;
}

.white {
    color: #ffffff;
}

.logo {
    width: 2vw;
    height: 2vw;
    padding: 0.5vw 1vw;
}

.nav {
    width: 12vw;
    display: flex;
    flex-flow: column wrap;
}

.nav_icon{
    padding: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.nav_text {
    color: #ffffff;
    padding: 1vw 0 0 1vw;
    font-size: 1vw;
}

.home_nav {
    background-color: #3db986;
}

.pages_nav {
    background-color: #ffb901;
}

.blog_nav {
    background-color: #de6262;
}
.portfolio_nav {
    background-color: #1691bd;
}

.mail_nav {
    background-color: #166ba2;
}

.hero_img {
    max-width: 50vw;
}

.main_line, .sub_line{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 1vw;
}

.line {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
}

.big_text_blue{
    color: #1eafde;
}

.square_icons {
    width: 5vw;
    padding: 0 10vw;
}

.pad {
    padding: 1vw;
}

.img_showcase {
    width: 20vw;
    height: 15vw;
    margin: 0 2vw;
    position: relative;
}

.block {
    z-index: 2;
    position: relative;
}

.padding {
    padding: 1vw;
}

.brand {
    width: 15vw;
    margin: 0 2vw;
}


/* footer */
.review {
    margin: 0 3vw;
}

.avatar{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    padding: 2vw 1vw;
}

.person_text {
    font-size: 1.5vw;
}

.left {
    text-align: left;
    margin: 0 1vw 0 0;
    width: 20vw;
}

.social_media {
    height: 2.5vh;
    width: 1.5vw;
}

.small_img {
    width: 5vw;
    margin: 0 1vw 1vw 1vw;
}

.twitter {
    width: 4vw;
    height: 4vw;
    margin: 0 1vw;
}

.at {
    font-size: 1vw;
}

.input, .send_button{
    all: unset;
}

.input {
    background-color: #de6262;
    color: #ffffff;
    height: 4vh;
    width: 20vw;
}

::placeholder {
    color: #ffffff;
    font-size: 1vw;
}

.paper_plane{
    height: 4vh;
    background-color: #ffb901;
}
.position_bottom {
    position: relative;
}

.box {
    min-width: 10vw;
}

.green_box{
    background-color: #25c389;
}

.yellow_box {
    background-color: #ffb901;
}

.red_box {
    background-color: #de6262;
}

.light_blue_box {
    background-color: #1691bd;
}

.dark_blue_box {
    background-color: #166ba2;
}